.upload {
  background: url("../assets/imgs/bg_meio.png") #efeeee center bottom;
  background-size: 100vw 1530px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload__container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.upload__titulo {
  color: #fff;
  text-align: center;
  text-justify: auto;
  position: absolute;
  margin-top: 200px;
  font-size: 2.5rem;
  font-family: "Globobold";
}

.upload__bolas {
  margin-top: 50px;
  width: 90%;
}

.upload__bolas--mobile {
  display: none;
}

.upload__paragrafo {
  color: #fff;
  margin-top: 40px;
  margin-left: 240px;
  margin-right: 240px;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.5;
}

.upload__lista {
  margin-top: 50px;
  width: 100%;
}

.upload__subtitulo--lista {
  color: #fff;
  font-size: 2rem;
  border: 2px none;
  border-radius: 15px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#ffdb00),
    to(#ff3b33)
  );
  padding: 0.5rem 4rem;
  text-align: center;
  width: 20%;
  display: block;
  margin: 0 auto 50px auto;
}

.upload__ordem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: 200px;
  overflow: auto;
}

.upload__lista--item {
  color: #fff;
  font-weight: bold;
}

.upload__palestra {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 15%;
}

.upload__texto {
  color: #fff;
  text-align: center;
  text-justify: distribute;
}

.upload__texto--titulo {
  font-size: 2rem;
}

.upload__texto--subtitulo {
  font-weight: bold;
  font-size: 1rem;
}

.upload__texto--paragrafo {
  margin-top: 2rem;
  line-height: 1.5;
}

.upload__img--perfil {
  width: 90%;
}

@media screen and (max-width: 768px) {
  .upload {
    background-size: 100vw 1120px;
  }

  .upload__titulo {
    margin-top: 150px;
    font-size: 1.75rem;
  }

  .upload__bolas {
    display: none;
  }

  .upload__bolas--mobile {
    display: block;
    max-width: 100vw;
  }

  .upload__paragrafo {
    font-size: 0.8rem;
    width: 80%;
    margin: 12px 30px;
    line-height: 1.2;
    margin-top: 10px;
  }

  .upload__subtitulo--lista {
    color: #fff;
    font-size: 1.5rem;
    padding: 0.5rem 3rem;
    max-width: 80vw;
    margin-top: 0px;
  }

  .upload__palestra {
    flex-direction: column;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
  }

  .upload__img {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .upload__texto--paragrafo {
    font-size: 0.8rem;
    width: 80%;
    margin: 12px 30px;
    line-height: 1.2;
  }
}
